profiles {
    day {
        process {
            executor = 'slurm'
            queue = 'day'
            cpus = 2
            memory = '50G'
            time = '24h'
            errorStrategy = 'retry'
            maxRetries = 1 // Updated to allow for an additional retry
            maxErrors = 3
        }
    }
    ycga {
        process {
            executor = 'slurm'
            queue = 'ycga'
            cpus = 1
            memory = '200G'
            time = '24h'
            errorStrategy = 'retry'
            maxRetries = 3 // Updated to allow for an additional retry
            maxErrors = 6
        }
    }
    bigmem{
        process {
            executor = 'slurm'
            queue = 'bigmem'
            // cpus = { task.attempt > 2 ? 2 : 1 }
            // memory = { task.attempt > 1 ? '450 GB' : '350 GB' }
            cpus = 1
            memory = '700G'
            time = '10h'
            errorStrategy = 'retry'
            maxRetries = 3 // Updated to allow for an additional retry
            maxErrors = 6
        }
    } 
    ycga_bigmem{
        process {
            executor = 'slurm'
            queue = 'ycga_bigmem'
            cpus = 1
            memory = '750G'
            time = '10h'
            errorStrategy = 'retry'
            maxRetries = 3 // Updated to allow for an additional retry
            maxErrors = 6
        }
    } 
    scavenge {
        process {
            executor = 'slurm'
            queue = 'scavenge'
            cpus = 1
            memory = '1000G'
            time = '10h'
            errorStrategy = 'retry'
            maxRetries = 5
            maxErrors = 20
        }
    }
}
